<table class="table">
    <tr class="table__row">
        <th class="table__header table__cell">
            <fms-checkbox (change)="selectAll($event)"></fms-checkbox>
        </th>
        <th class="table__header table__cell"
            *ngFor="let key of getKeys()">
            <input type="radio" [id]="tableId + '_' + key" [name]="tableId" class="table__radio"/>
            <label [for]="tableId + '_' + key" (click)="sortData(key)" class="table__label">
                <span>{{ key }}</span>
                <span class="material-icons-outlined icon">
                    sort
                </span>
            </label>
        </th>
    </tr>

    <tr *ngFor="let row of mockTableData; index as i" class="table__row">
        <td class="table__cell">
            <fms-checkbox class="table__checkbox"></fms-checkbox>
        </td>
        <td class="table__cell" *ngFor="let key of getKeys()">{{ row[key] }}</td>
    </tr>
</table>
