:host(.input) {
    width: 100%;
    border: 1px solid var(--clr-input-border);
    border-radius: 4px;
    color: var(--clr-input);
    font: inherit;
    padding: .35em .7em;
    transition: all .2s ease;

    &.ng-touched:invalid {
        border-color: var(--clr-input-border-invalid) !important;
    }

    &:active,
    &:focus {
        outline: none;
        border-color: var(--clr-input-border-focus);
        box-shadow: var(--bs-input);

        &.ng-touched:invalid {
            box-shadow: var(--bs-input-invalid) !important;
        }
    }
}